<!--
 * @Author: harry
 * @Date: 2026-02-09 01:59:25
 * @Version: 1.0
 * @LastEditors: harry
 * @LastEditTime: 2026-02-09 22:17:18
 * @Description: 
 * @FilePath: /monitor-system/.gitignore
-->
# Compiled Object files
./build

# vscode
.vscode

# CMake build files
build

# json
*.json

# .out
*.out

# kmod
*.ko
*.mod
*.o
*.cmd
*.symvers
*.order
*.mod.c

# Backup files
.cache