# Compiled Object files
./build

# vscode
.vscode

# CMake build files
build

# json
*.json
!web/package.json
!web/package-lock.json
!web/tsconfig.json
!web/tsconfig.app.json
!web/tsconfig.node.json

# .out
*.out

# codex
AGENTS.md

# kmod
*.ko
*.mod
!agent_service/go.mod
!api_gateway/go.mod
*.o
*.cmd
*.symvers
*.order
*.mod.c

# configs目录下的env文件
*.env
!*.example.env

# Backup files
.cache

# codex
.codex

# openspec
openspec