# Compiled Object files
./build

# vscode
.vscode

# CMake build files
build

# json
*.json
!web/package.json
!web/package-lock.json
!web/tsconfig.json
!web/tsconfig.app.json
!web/tsconfig.node.json

# .out
*.out

# kmod
*.ko
*.mod
!agent_service/go.mod
*.o
*.cmd
*.symvers
*.order
*.mod.c

# Backup files
.cache

# codex
.codex
